{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block list_table %}
    {{ parent() }}
    <a class="btn" href="{{ path('admin_san_userlist_userlist_create', admin.modelmanager.paginationparameters(admin.datagrid, 0)) }}">Save list</a>
{% endblock %}
